<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.davinci.wolf">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".application.WolfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".console.ConsoleActivity"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:parentActivityName=".console.ConsoleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".authentication.AuthenticateActivity"
            android:parentActivityName=".console.ConsoleActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".settings.mode.ModeActivity"
            android:parentActivityName=".console.ConsoleActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".settings.manual.ManualActivity"
            android:parentActivityName=".console.ConsoleActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".settings.auto.AutoActivity"
            android:parentActivityName=".console.ConsoleActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".about.AboutActivity"
            android:parentActivityName=".console.ConsoleActivity"

            android:theme="@style/AppTheme"/>
    </application>

</manifest>